@{ Layout = "~/Views/Shared/_Layout.cshtml";}
@model ThunderOnlineModule.Models.tcService

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar el servicio?</h3>
<div>
    <h4>tcService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
